<footer id="footer">
    <p>&copy; 2016 - DATASYSTEM <strong>ATLAS</strong></p>
    <ul class="f-menu">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</footer>